/* @MEDIA-QUERY */

/* Extra small devices (phones, less than 768px) */

@media screen and (max-width: 768px) {}

/* Small devices (tablets, 768px and up) */

@media screen and (min-width: 769px) and (max-width: 991px) {}

/* Medium devices (desktops, 992px and up) */

@media screen and (min-width: 992px) and (max-width: 1199px) {}

/* Large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {}

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESET <a> STYLE */

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

h2 {
    font-size: 15px;
    padding: 10px 0
}