* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.contact-form input, .contact-form textarea {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 20px;
    padding: 30px 0;
}

.contact-form .form_button a {
    padding: 10px 20px;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1;
    /* Firefox */
}

.contact-form input:-ms-input-placeholder, .contact-form textarea::placeholder {
    /* Internet Explorer 10-11 */
    color: red;
}

.contact-form input::-ms-input-placeholder, .contact-form textarea::placeholder {
    /* Microsoft Edge */
    color: red;
}

.form_button{
    margin-top: 10px;
    margin-bottom: 30px;
}

.green_btn{
    background-color: green;
    color: white;
}