* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 80%;
    margin: auto;
    padding: 100px;
    /*  background-color: aquamarine; */
    text-align: center;
}

.display-flex {
    display: flex;
}

.albums {
    flex-wrap: wrap;
}

.album{
    padding: 5px;
}

.album-image img {
    /* Per togliere i px aggiunti automaticamente */
    display: block;
    width: 100%;
}

.album-image {
    position: relative;
}

.layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.layover a {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Prende il primo position static che trova quindi possiamo 
      aggiungere più absolute 1 dentro all'altro */
}

.album:hover {
    cursor: pointer;
}

.album:hover .layover {
    display: block;
}